body {
  background: #eee;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* HOME */
.page-index {
  margin-top: 20%;
  font-size: 40px;
}

.item_list {
  display: inline-block;
  padding-right: 30px;
  margin: 0 auto;
}

.item_list a {
  text-decoration: none;
  color: #000000;
}

.item_list a:hover {
  color: red;
}

.link_home {
  text-decoration: none;
  color: #000000;
}

.link_home:hover {
  color: red;
}

/* END HOME */

/* INSERT */

.container-page-insert {
  width: 40%;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;
  padding: 10px;
  border-radius: 15px;
}

.container_input {
  width: 60%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
}

.container_submit_insert {
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 15px auto;
  width: 100px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
}

/* END INSERT */

/* VIEW */
.container-view-page {
  width: 80%;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-row: 50px;

  position: relative;
  border-radius: 10px;
}

.table_title {
  grid-column-start: 1;
  grid-column-end: 5;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
}

/* .table_header,
.table_item {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.table_header {
  font-weight: bold;
  font-size: 1.5em;
}

.table_item {
  padding: 10px;
  font-size: 1.2em;
}

/* END VIEW */

/* MODIFY */

.container-page-edit {
  width: 80%;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-row: 50px;

  position: relative;
  border-radius: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.table_title-edit {
  grid-column-start: 1;
  grid-column-end: 6;
}

.table_item_link,
.table_mody_link {
  text-decoration: none;
  color: #000000;
}

.table_item_link:hover,
.table_mody_link:hover {
  color: red;
}

/* UPDATE */
.container_submit-edit {
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 0px;
  margin: 0 auto;
  font-size: 1.1em;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

/* END UPDATE */
/* END MODIFY */
